doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Menu
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/style.css')
    style.
      ::-webkit-scrollbar {
      width: 0em;
      background-color: #f5f5f5;
      }
      ::-webkit-scrollbar-thumb {
      background-color: #000000;
      }
  body
    .head-container
      h1.head MENU
      h2#time.time 12:00:30
      img.logo(src="/assets/xx.png", style="max-width: 240px;")
    .menu-container
      #product-menu-list.table
    .kayan-yazi(style="position: relative;") Kayan yazi
    script(src="/js/script.js")
    script.
        getMenu(createMenu);
        createClock();
        setInterval(() => {
            getMenu(createMenu);
        }, 5000);